@{
    ViewBag.Title = "Student Registration";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/backbone")

<style>
    label {
        display: inline-block;
        width: 150px;
    }

    .item {
        margin: 5px;
    }
</style>

<h2>Student Registration</h2>

<div id="registration-form">
    <div class="item">
        <label>First Name</label>
        <input type="text" id="firstName" />
    </div>
    <div class="item">
        <label>Last Name</label>
        <input type="text" id="lastName" />
    </div>
    <div class="item">
        <label>Email</label>
        <input type="email" id="email" />
    </div>
    <div class="item">
        <label>Password</label>
        <input type="password" id="password" />
    </div>
    <div class="item">
        <label>Confirm Password</label>
        <input type="password" id="confirmPassword" />
    </div>
    <div class="item alert-danger hidden" id="errors"></div>
    <button id="register-button">Register the Student</button>
</div>

<script>
    var StudentModel = Backbone.Model.extend({
        url: "/api/register/student"
    });

    var StudentRegisterView = Backbone.View.extend({
        model: new StudentModel(),
        el: "#registration-form",
        events: {
            "click #register-button": "register"
        },

        register: function () {
            $("#errors").addClass("hidden");
            $("#errors").text("");

            this.model.save({
                firstName: this.$("#firstName").val(),
                lastName: this.$("#lastName").val(),
                email: this.$("#email").val(),
                password: this.$("#password").val(),
                confirmPassword: this.$("#confirmPassword").val()
            },
                {
                    success: function () {
                        this.redirectToLoginPage();
                    },
                    error: (model, response) => {
                        // Backbone treats empty json in the response body is treated as an error for some reason
                        if (response.status == 200) { 
                            this.redirectToLoginPage();
                            return;
                        }
                        this.displayErrors(response);
                    }
                });
        },

        redirectToLoginPage: function () {
            window.location.href = "@Url.Action("Login", "Login")";
        },

        displayErrors: function (response) {
            this.$("#errors").removeClass("hidden");
            console.log(response);
            let errors = response.responseJSON.ModelState || response.responseJSON;
            $.each(errors, (_, error) => {
                this.$("#errors").append("<div>" + error + "</div>");
            });
        }
    });

    var registerView = new StudentRegisterView();
</script>