@{
    ViewBag.Title = "Log In";
}

@Scripts.Render("~/bundles/jquery")
<style>
    label {
        display: inline-block;
        width: 150px;
    }

    .item {
        margin: 5px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#loginBtn").click(function () {
            clearErrors();
            sendRequest();
        });
    });

    function sendRequest() {
        $.ajax({
            url: "/api/login",
            type: "POST",
            data: getUserData(),
            success: function (data) {
                alert("Hello, " + data.FirstName + " " + data.LastName);
                window.location.href = "@Url.Action("Index", "Home")";
            },
            error: function (data) {
                if (data.status == 401) {
                    displayErrors([ "Invalid Email or password" ]);
                }
                else if (data.responseJSON.ModelState != undefined) {
                    displayErrors(data.responseJSON.ModelState);
                }
                else {
                    displayErrors(data.responseJSON);
                }
            }
        });
    }

    function getUserData() {
        return {
            Email: $("#email").val(),
            Password: $("#password").val()
        };
    }

    function clearErrors() {
        $("#errors").addClass("hidden");
        $("#errors").text("");
    }

    function displayErrors(errors) {
        $("#errors").removeClass("hidden");
        $.each(errors, (_, error) => {
            $("#errors").append("<div>" + error + "</div>");
        });
    }
</script>

<h2>Log In</h2>

<div>
    <div class="item">
        <label>Email</label>
        <input type="email" id="email" />
    </div>
    <div class="item">
        <label>Password</label>
        <input type="password" id="password" />
    </div>
    <div class="item">
        <button id="loginBtn">Log In</button>
    </div>
    <div class="item alert-danger hidden" id="errors"></div>
</div>