@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        @foreach (StudentsWebsite.Core.Models.Student student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.User.FirstName</td>
                <td>@student.User.LastName</td>
            </tr>
        }
    </table>
</div>